*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #2d3250;
}
.title {
  font-size: 11px;
  color: white;
  background-color: #424769;
  text-align: center;
  padding: 8px;
}

.container-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92vh;
  padding: 8px;
}

.container-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

.container-input label {
  color: white;
}

.container-input input {
  border: none;
  border-radius: 4px;
  padding: 8px 4px;
  background-color: rgb(234, 234, 234);
}

.container-input input:focus {
  background-color: white;
  outline-color: cadetblue;
}

#hasil {
  color: white;
}
